.contain {
    display: grid;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.img2  {
   width: 300px;
   height: 300px;
   border-radius: 20px;
}

.categorybox {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.categorybox:hover{
    cursor: pointer;
}

h1 {text-align: center;}